.routes {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
}

.heading {
  display: flex;
  align-items: center;

  h3 {
    padding-left: 5px;
  }
}

.routeServiceSchedule {
  display: flex;
  align-items: center;
}
